nav {
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}
nav div {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 600px) {

  nav {
    height: 120px;
    flex-direction: column;
  }
}

nav .logoWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

nav .welcomeText {
  color: #DB3A34;
  font-size: 2em;
}
